@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  width: 90vw;
  max-width: 1080px;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header {
  padding: 1rem;
  align-content: flex-end;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
.section-1 {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.section-1 img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
    .section-1 img {
        width: 100%;
      max-width: 500px;
    }
  }

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 2.5rem;
}
.section-2__heading {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}
.section-2__subtext {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
}

.section-2__button {
  margin-top: 2rem;
  padding: 1.3rem 7rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  transition: 0.1s ease-in;
}
.section-2__button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

  background-color: hsl(300, 69%, 71%);
  color: #fff;
}
.social {
  grid-column: 1/ -1;
  text-align: center;
}
.social .fab {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}
.social .fab:hover {
  border: 1px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

@media (min-width: 1080px) {
  .section-2 {
    margin-top: 3rem;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    padding: 0 2.5rem;
    text-align: left;
  }
  .social {
    grid-column: 1/ -1;
    text-align: right;
  }
}
